<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>The Wall</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1>Welcome to The Wall {{user.first_name}} {{user.last_name}}!</h1>
    <h2>Wall Posts</h2>
    {% for post in posts  %}
        <p><a href="/users/{{post.poster.id}}">{{post.poster.first_name}} {{post.poster.last_name}}</a> Said: {{post.content}}
            {% if user.id == post.poster.id %}
                <a href="/posts/{{post.id}}/edit">Edit</a>
                <a href="/posts/{{post.id}}/delete">Delete</a>
            {% endif %}
        </p>
    {% endfor %}
    <h3>Post on the Wall!</h3>
    <form action="/users/{{user.id}}/post" method = "POST">
        <textarea name="content" placeholder="Write your post here!"></textarea>
        <button type="submit">Submit Post!</button>
    </form>

    <a href="/dashboard">Go to User Information Dashboard!</a>
    <a href="/logout">Logout</a>
</body>
</html>